@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";

.product-card {
    transition: 0.25s ease-in-out;
    cursor: pointer;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  
  .product-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    transition: 0.3s;
  }
  
  .product-card:hover .product-img {
    transform: scale(1.03);
  }
  .logo {
    height: 40px;
    width: auto;
    object-fit: contain;
    transition: 0.2s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.05);
  }
